html{
  font-family: 'Josefin Sans', sans-serif;
}
header{
  background-color: purple;
  font-family: 'Josefin Sans', sans-serif;
  width:100%;
  height: 70px;
  position:absolute;
  top: 0px;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color:white;
  justify-items: center;
}
body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient( to right, rgb(245, 223, 245), rgb(243, 198, 243), rgb(252, 170, 252), rgb(238, 95, 238));
    scroll-behavior: smooth;
}  
.container-menu{
  padding-top: 25px;
  margin-left: 100px;
}
h2.menu{
  margin-left: 700px;
}
.menu{
  margin-right: 5px;
  text-decoration: none;
  color: white;
  scroll-behavior: smooth;
}
.container{
    text-align: center;
    background-color: transparent;
    margin: 100px 50px;
    border-radius: 30px;
    border: 5px solid purple;
   

}
h1{
    background-color: purple;
    color: white;
    padding: 10px;
    margin: 0px;
    border-radius: 20px 20px 0px 0px;
}

h3{
    text-align: center;
    padding-left: 5px;
    text-decoration: underline;
    margin:15px 0px;
}

.container-datosinputs{
  margin: 0px;
  padding:0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px 0px;
}
input.datospersonales{
  margin-bottom: 10px;
}
.container-proingreso{
  margin: 0px;
  padding:0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.container-utipinputs{
  margin: 0px;
  padding:0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.inputsdatostexto{
    font-size: 15px;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    padding:15px 50px 15px 25px;
    width:250px;
    margin: 10px 5px;
    border: none;
    border-radius: 20px;
    border-bottom: 1px solid black;
   background-color:rgb(245, 223, 245);
}

input.fecha{
    font-size: 15px;
    text-align: center;
    padding:15px 10px;
    width:300px;
    margin: 5px;
    border: none;
    border-radius: 20px;
    border-bottom: 1px solid black;
   background-color:rgb(245, 223, 245);
}
input.hora{
    font-size: 15px;
    text-align: center;
    padding:15px 10px;
    width:300px;
    margin: 5px;
    border: none;
    border-radius: 20px;
    border-bottom: 1px solid black;
   background-color:rgb(245, 223, 245);
}
.labels-fechahora{
  color: purple;
}
label{
  font-size: 20px;
}
.fecha + label{
    margin: 5px 5px 5px 10px;
}
::placeholder{background-color:transparent;
color: rgb(80, 3, 80); text-align: center;
font-family:'Josefin Sans', sans-serif;}

fieldset{
    border: none;
}
.container-oxigenoterapia{
  margin: 0px;
  padding: 0px;

}

h3{
  font-size: 30px;
  color: purple;
}

p{
  font-size: 20px;
  color: black;
}
button{
    text-align: center;
    font-size: 20px;
    width: 300px;
    color: white;
    background-color: purple;
    padding: 15px;
    margin: 0px 525px 20px 475px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
input:hover{
  background-color: rgb(249, 167, 249);
  color: rgb(81, 6, 81);
  font-weight: bold;
}
button:hover{
  background-color: rgb(248, 132, 248);
  color: purple;
  font-weight: bold;
  border: 2px solid purple;
}
footer{
  background-color: purple;
  position:absolute;
  width: 100%;
  /*bottom:0;*/
}
.copy-footer{
  text-align: center;
  text-decoration: none;
  color:white;
  font-size: 25px;
}
.footer-contacto{
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin: 0xp;
}
.container-iconos{
  text-align: center;
  padding-bottom: 20px;

}

span{
  width: 70px;
  text-align: center;
  padding: 2px;
  margin: 2px;
}
